<div class="btn-group">
  <button class="btn btn-danger">Button 1</button>
  <button class="btn btn-default">Button 2</button>
  <button class="btn btn-info">Button 3</button>
  <button class="btn btn-primary">Button 4</button>
  <button class="btn btn-success">Button 5</button>
  <button class="btn btn-warning">Button 6</button>
</div>
<br>
<br>
<div class="btn-toolbar">
  <div class="btn-group">
      <a href="#" class="btn btn-danger">Button 1</a>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-default">Button 2</a>
  </div>
  <div class="btn-group">
      <a href="#" class="btn btn-info">Button 3</a>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-primary">Button 4</a>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-success">Button 5</a>
  </div>
  <div class="btn-group">
      <a href="#" class="btn btn-warning">Button 6</a>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-primary">Button 7</a>
  </div>
</div>

<ul class="list-inline">
  <li>India</li>
  <li>USA</li>
  <li>UK</li>
  <li>Australia</li>
  <li>Canada</li>
</ul>
<form class="form-horizontal">
  <div class="form-group has-success">
      <label class="col-xs-2 control-label" for="txtStrongPassword">Password</label>
      <div class="col-xs-10">
          <input type="password" id="txtStrongPassword" class="form-control"
                  placeholder="Your password">
          <span class="help-block">Strong Password</span>
      </div>
  </div>
  <div class="form-group has-warning">
      <label class="col-xs-2 control-label" for="txtWeakPassword">Password</label>
      <div class="col-xs-10">
          <input type="password" id="txtWeakPassword" class="form-control"
                  placeholder="Your password">
          <span class="help-block">Weak Password</span>
      </div>
  </div>
  <div class="form-group has-error">
      <label class="col-xs-2 control-label" for="txtAge">Age</label>
      <div class="col-xs-10">
          <input type="number" id="txtAge" class="form-control"
                  placeholder="Your Age">
          <span class="help-block">Invalid Age</span>
      </div>
  </div>
</form>
<form class="form-horizontal">
  <div class="form-group has-success has-feedback">
      <label class="col-xs-2 control-label" for="txtStrongPassword">Password</label>
      <div class="col-xs-10">
          <input type="password" id="txtStrongPassword" class="form-control"
                  placeholder="Your password">
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          <span class="help-block">Strong Password</span>
      </div>
  </div>
  <div class="form-group has-warning has-feedback">
      <label class="col-xs-2 control-label" for="txtWeakPassword">Password</label>
      <div class="col-xs-10">
          <input type="password" id="txtWeakPassword" class="form-control"
                  placeholder="Your password">
          <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
          <span class="help-block">Weak Password</span>
      </div>
  </div>
  <div class="form-group has-error has-feedback">
      <label class="col-xs-2 control-label" for="txtAge">Age</label>
      <div class="col-xs-10">
          <input type="number" id="txtAge" class="form-control"
                  placeholder="Your Age">
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="help-block">Invalid Age</span>
      </div>
  </div>
</form>
<form class="form-horizontal">
  <div class="form-group has-success has-feedback">
      <label class="col-xs-2 control-label" for="txtStrongPassword">Income</label>
      <div class="col-xs-10">
          <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" id="txtIncome" class="form-control"
                      placeholder="Your annual income after taxes">
          </div>
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          <span class="help-block">Success</span>
      </div>
  </div>
  <div class="form-group has-warning has-feedback">
      <label class="col-xs-2 control-label" for="txtStrongPassword">Income</label>
      <div class="col-xs-10">
          <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" id="txtIncome" class="form-control"
                      placeholder="Your annual income after taxes">
          </div>
          <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
          <span class="help-block">Warning</span>
      </div>
  </div>
  <div class="form-group has-error has-feedback">
      <label class="col-xs-2 control-label" for="txtStrongPassword">Income</label>
      <div class="col-xs-10">
          <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" id="txtIncome" class="form-control"
                      placeholder="Your annual income after taxes">
          </div>
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span class="help-block">Error</span>
      </div>
  </div>
</form>
